<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="5 seconds">
	<property name="LOG_HOME" value="/laboratorylogs" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<!-- 로그 발생 시각, 패키지 생략 -->
			<pattern>%-5level %msg%n</pattern>
			<!-- 로그 발생 시각, 패키지 출력 -->
			<!-- <pattern>%date{ISO8601} %-5level: %logger - %msg%n</pattern> -->
			<!-- official example -->
			<!-- <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/webapp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 파일이 하루에 한개씩 생성된다 -->
			<fileNamePattern>${LOG_HOME}/webapp.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- maxHIstory 설정은 롤링 정책에 따라 적용된다고 보면된다. 여기선 30일이 지난 파일을 삭제한다. -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level: %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="TRACE" />
	<logger name="org.springframework" level="TRACE" />
	<logger name="com.noritersand" level="TRACE" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>