<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="5 seconds">
	<property name="LOG_HOME" value="/laboratorylogs" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
<!-- 			<pattern>%-5level: %msg%n</pattern> -->
			<pattern>%-5level: %logger#%method: %msg%n</pattern>
<!-- 			<pattern>%-5level: %thread: %logger#%method: %msg%n</pattern> -->
			<!-- <pattern>%date{ISO8601} %-5level: %logger - %msg%n</pattern> -->
			<!-- official example -->
			<!-- <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level: %logger{36} - %msg%n</pattern> -->
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/webapp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 파일이 하루에 한개씩 생성된다 -->
			<fileNamePattern>${LOG_HOME}/webapp-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory> <!-- 30일이 지난 파일은 삭제 -->
		</rollingPolicy>
		<encoder>
			<pattern>%-5level: %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ch.qos.logback" level="TRACE" />
	<logger name="org.springframework" level="TRACE" />
	<logger name="com.noritersand" level="TRACE" />

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>